{% include base_path %}

{% if site.posts.size > 0 %}
  <aside class="post-list-widget">
    <h4 class="post-list-widget__title">Posts</h4>
    <ul>
      {% for post in site.posts limit: 5 %}
        <li>
          <a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a>
          <span class="post-list-widget__date">{{ post.date | date: "%Y-%m-%d" }}</span>
        </li>
      {% endfor %}
    </ul>
    {% if site.posts.size > 5 %}
      <p class="post-list-widget__more">
        <a href="{{ base_path }}/year-archive/">All posts ({{ site.posts.size }}) →</a>
      </p>
    {% endif %}
  </aside>
{% endif %}
