<!-- start custom comments snippet -->
{% if site.comments.utterances.repo %}
  <script src="https://utteranc.es/client.js"
          repo="{{ site.comments.utterances.repo }}"
          issue-term="{{ site.comments.utterances.issue_term | default: 'pathname' }}"
          label="{{ site.comments.utterances.label | default: 'comment' }}"
          theme="{{ site.comments.utterances.theme | default: 'github-light' }}"
          crossorigin="anonymous"
          async>
  </script>
{% endif %}
<!-- end custom comments snippet -->
